@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;600&display=swap');

@font-face {
    font-family: Geomanist;
    src: url(/__ProjectWeb/font/Geomanist-Bold.otf);
}
@font-face {
    font-family: Phudu;
    src: url(/__ProjectWeb/font/DTPhudu-Bold.otf);
}

*{
    padding: 0;
    margin: 0;
    font-family: Geomanist, sans-serif;
    text-decoration: none;
    list-style: none;
}



:root{
    --bg-color: #0a092d;
    --text-color: #ffff;
    --main-color: #5669a2;
    --anther-color: #e6bb1d;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow: hidden;
}
#bgvideo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
    z-index: -1;
    filter: opacity(0.5);
    mix-blend-mode: lighten;
}
.back{
    -webkit-user-drag: none;
    position: absolute;
    left: 0;
    top: -10%;
    color: var(--text-color);
    transition: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.back i{
    margin-right: 10px;
}

.back:hover{
    color: #e6bb1d;  
}

section{
    scale: 0.9;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-box{
    position: relative;
    border: 2px solid #ffffff81;
    width: 400px;
    height: 450px;
    background: transparent;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 2em;
    color: var(--text-color);
    text-align: center;
    padding-bottom: 20px;
}
.inputbox{
    position: relative;
    margin: 40px 0;
    width: 310px;
    border-bottom: 2px solid #ffff;

}
.inputbox label{
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

input:focus ~ label,
input:valid ~ label{
    top: -5px;
}

.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: var(--text-color);
}
.inputbox i {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    top: 20px;
}
.regist{
    text-align: center;
    font-size: 13px;
    font-family: Poppins, sans-serif;
    font-weight: 100;
}
.regist a{
    font-size: larger;
    color: #e6bb1d;
}

 input[type = submit]{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    font-size: 1.2em;
    border: 1px solid var(--text-color);
    border-radius: 50px;
    color: var(--text-color);
    background: transparent;
    transition: 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
    cursor: pointer;
}
 input[type = submit]:hover{
    color: var(--text-color);
    border:none;
    background: linear-gradient(35deg,#dbb474,#b86e74);
}

@media (min-aspect-ratio: 16/9) {
    #back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    #back-video{
        width: auto;
        height: 100%;
    }
}